/* 1. Layout */
/* layout */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    color: inherit;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
html {
    font-size: 14px;
}
body {
    background: white;
    color: #515974;
    font-family: Tahoma;
    font-size: 14px;
    max-width: 100%;
    overflow-x: hidden;
}
.dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100vh;
}
.sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background: #101226;
    padding-left: .4em;
    min-height: 100vh;
}
.sites {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 35%;
            flex: 1 1 35%;
    position: relative;
    min-height: 100vh;
    max-height: 900px;
    margin-bottom: 1.5em;
    overflow-y: scroll;
}
.sites__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sites__wrapper.loading {}
.sites__wrapper.loading::after {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.07) url('../images/loading.gif') no-repeat center;
    z-index: 3;
}
.site-config {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 40%;
            flex: 2 1 40%;
    display: none;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.site-config.active {
    opacity: 1;
    display: block;
}
.header-mobile {
    display: none;
    background: #101226;
    padding: 1em;
}
/* Helpers */
.mr1 {
    margin-right: 1em  ;
}
/* General modules + UI */
.select-button {
    position: relative;
    display: inline-block;/* .select-hidden *//*   display: block *//*   position: absolute *//*   left: 0 *//*   top: 0 *//*   width: 100% *//*   line-height: 2em *//*   height: 100% *//*   opacity: 0 */
}
.select-button .dropdown-menu {
    cursor: pointer;
}
.select-button .dropdown-menu:not(:focus):not(.active) {
    border-bottom-color: #a8bec9;
}
.select-button .dropdown-menu:not(:focus):not(.active):hover {
    border-color: #4ab68f;
}
.toolip-wrapper {
    position: relative;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 0;
    z-index: 4;
}
.toolip-wrapper--visible {
    opacity: 1;
}
.toolip-wrapper--visible .tooltip-toggle {
    opacity: 0;
}
.toolip-wrapper--visible:hover .tooltip-toggle {
    opacity: 1;
}
.toolip-wrapper--filter .tooltip-toggle {
    border-radius: .5em;
    padding: .7em 1em;
    width: 6em;
}
.toolip-wrapper--filter .tooltip-toggle .ico {
    font-size: 16.8px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: .1em;
}
.toolip-wrapper--filter .tooltip-toggle .ico:last-child {
    margin-right: 0;
}
.toolip-wrapper--menu .tooltip-toggle {
    border-radius: .5em;
    padding: .7em 1em;
    width: auto;
}
.toolip-wrapper--bottom .tooltip-toggle {
    top: 2.7em;
}
.toolip-wrapper--bottom .tooltip-toggle::after {
    top: -4px;
    bottom: auto;
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent #515974 transparent;
}
.toolip-wrapper--right .tooltip-toggle {
    left: 5em;
    top: 50%;
    -webkit-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
}
.toolip-wrapper--right .tooltip-toggle::after {
    left: -2px;
    bottom: 9px;
    border-width: 5px 5px 5px 0;
    border-color: transparent #515974 transparent transparent;
}
.tooltip-toggle {
    position: absolute;
    z-index: 5;
    -webkit-transition: top .3s ease-out;
    transition: top .3s ease-out;
    top: -1em;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #515974;
    border-radius: 1em;
    padding: .5em .6em;
    color: white;
    font-size: 11.549px;
    font-size: 0.825rem;
    font-weight: 700;
}
.tooltip-toggle::after {
    position: absolute;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -4px;
    content: ' ';/* height: .5em *//* width: .5em */
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #515974 transparent transparent transparent;
}
/* Header mobile */
.header-mobile__wrapper

.hamburger {
    padding: 15px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger-box {
    width: 45px;
    height: 0px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -7px;
    width: 45px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.hamburger-inner:before, .hamburger-inner:after {
    width: 45px;
    height: 4px;
    background-color: white;
    position: absolute;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.hamburger-inner:before, .hamburger-inner:after {
    content: "";
    display: block;
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    top: -20px;
}
.mobile-nav {
    display: none;
    color: white;
    font-size: 15.4px;
    font-size: 1.1rem;
    background: $primary;
}
.mobile-nav .mobile-nav-list {
    list-style: none;
    margin: 0;
    padding: 20px 0;
}
.mobile-nav .mobile-nav-list li {
    margin: 0;
    display: block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.mobile-nav .mobile-nav-list li .ico {
    margin-right: .5em;
}
.mobile-nav .mobile-nav-list li a {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.6em 3.5em 0.7em 0.7em;
    border-left: 3px solid transparent;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.mobile-nav .mobile-nav-list li a:hover {
    background: rgba(255, 255, 255, 0.1);
}
.mobile-nav .mobile-nav-list li a:active, .mobile-nav .mobile-nav-list li a:focus {
    text-decoration: none;
    color: white;
}
.mobile-nav .mobile-nav-list li.active a {
    border-left-color: #f45b63;
}
.mobile-nav .mobile-nav-list li:hover:not(.active) {
    background: rgba(255, 255, 255, 0.1);
}
.mobile-nav .mobile-nav-list li:hover:not(.active) a {
    border-color: rgba(81, 89, 116, 0.5);
}
.mobile-nav .mobile-nav-list .mobile-nav-sublvl {
    display: none;
    font-size: 16px;
    padding-left: 20px;
    list-style: circle;
}
.mobile-nav .mobile-nav-list .mobile-nav-sublvl a {
    border-bottom: none;
}
.mobile-nav .mobile-nav-list .mobile-nav-sublvl.active {
    display: block;
}

/* 2. Modules */

/*Sidebar */

.sidebar__search {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.sidebar__search .text-input {
    background-image: url('../images/ico-search.svg');
    background-repeat: no-repeat;
    background-position: right 0.7em;
    padding-right: 1.5em;
}

.sidebar__search .text-input:not(:focus) {
    border-bottom-color: #a8bec9;/* border-bottom-width: 2px */
}

.sidebar__search .text-input:focus {
    border-bottom-color: #4ab68f;
}

.sidebar__nav {}

.sidebar__nav--bottom {
    margin-top: 10vh;
}

.sidebar__nav__heading {
    font-size: 11.9px;
    font-size: 0.85rem;
    font-weight: 700;
    padding-left: 2em;
    padding-right: 3.5em;
}

.sidebar__nav__list {
    list-style: none;
    font-size: 15.4px;
    font-size: 1.1rem;
    padding: 0;
    color: white;
}

.sidebar__nav__list [ripple] {
    overflow: visible;
}

.sidebar__nav__list li {
    display: block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.sidebar__nav__list li .ico {
    margin-right: .5em;
}

.sidebar__nav__list li span {}

.sidebar__nav__list li .tooltip-toggle {}

.sidebar__nav__list li a {
    display: inline-block;
    padding: 0.6em 3.5em 0.7em 1.5em;
    border-left: 3px solid transparent;
}

.sidebar__nav__list li.active a {
    border-color: #f45b63;
}

.sidebar__nav__list li:hover:not(.active) {
    background: rgba(255, 255, 255, 0.1);
}

.sidebar__nav__list li:hover:not(.active) a {
    border-color: rgba(81, 89, 116, 0.5);
}

.ico-nav-notification {
    position: absolute;
    right: 3em;
    top: .5em;
    border-radius: 50%;
    background: #f46d36;
    margin-left: 3em;
    font-weight: 700;
    font-size: 11.2px;
    font-size: 0.8rem;
    width: 2em;
    height: 2em;
    padding-top: .5em;
    text-align: center;
    vertical-align: top;
}
/*sites */
.sites__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: white;
    z-index: 10;
    width: 100%;
    padding: 3em 2em 1em 2em;
}
.sites__header h1 {
    display: inline-block;
    margin: 0;
    margin-top: -.1em;
    font-size: 33.6px;
    font-size: 2.4rem;
}
.sites__header__pagination {
    display: inline-block;
    text-align: right;
}
.sites__header__pagination__counter {
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    display: inline-block;
    vertical-align: top;
}
.sites__header__pagination__buttons {
    margin-left: 1em;
    min-width: 4em;
    display: inline-block;
}
.sites__header__filters {
    text-align: right;
    display: inline-block;
    margin: 0 .7em;
}
.sites__table {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.5em;
}
.sites__table__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 0;
    color: #a5a6bb;
    border-bottom: 1px solid #f0f3f7;
}
.sites__table__heading #sortByAttendance {
    cursor: pointer;
}
.sites__table__heading span {
    display: inline-block;
}
.sites__table__heading span:first-child {
    padding-left: 1em;
}
.sites__table__heading span:last-child {
    padding-right: 1em;
}
.sites__table__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: 1.4em 1em;
    margin-top: -1px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    border: 1px solid transparent;
    border-bottom: 1px solid #f0f3f7;/* &__price *//*   color: $colorGreen *//*   font-weight: 700 *//*   text-align: right *//*   span *//*     display: inline-block *//*     position: relative *//*     font-size: 1.1em *//*     &::after *//*       position: absolute *//*       content: ' ' *//*       top: .7em *//*       left: -0.05em *//*       height: 2px *//*       width: .5em *//*       background: $colorGreen *//*   &.no--price *//*     color: $fontColorTiny *//*     font-weight: 400 */
}
.sites__table__item:hover {
    background: #f6f8fb;
    border: 1px solid #f0f3f7;
    margin-left: -1em;
    padding-left: 2em;
    margin-right: -1em;
    padding-right: 2em;
}
.sites__table__item:hover .sites__table__item__attendance {
    padding-right: 4em;
}
.sites__table__item:hover .sites__table__item__controls {
    right: 0.5em;
}
.sites__table__item__name {
    font-weight: 700;
}
.sites__table__item__attendance {
    text-align: right;
    color: #a5a6bb;
    font-weight: 400;
    -webkit-transition: padding .5s ease;
    transition: padding .5s ease;
}
.sites__table__item__controls {
    position: absolute;
    right: -10em;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.sites__table__item__controls .sites__table__item__controls__btn-wrap {
    display: inline-block;
    padding: 1em 0;
}
.ico-status {
    border-radius: 50%;
    width: .7em;
    height: .7em;
    margin-right: .3em;
}
.ico-status--green {
    background: #4ab68f;
}
.ico-status--red {
    background: #f45b63;
}
.ico-status--yellow {
    background: #fda737;
}
/* Site config */
.site-config__title {
    font-size: 18.2px;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    color: #69717f;
    padding: 0.4em 0;
}
.site-config {/* controls *//*chart *//*tags */
}
.site-config__controls {
    background: #f2f6fc;
    padding: 3em 2em 2em 2em;
}
.site-config__controls__close {
    display: inline-block;
    float: right;
    opacity: .7;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.site-config__controls__close:hover {
    opacity: 1;
}
.site-config__controls__sitename {
    font-size: 21px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.4em 0;
}
.site-config__controls__buttons {
    padding: 0.4em 0;
}
.site-config__controls__buttons div {
    display: inline-block;
    margin-right: .7em;
}
.site-config__controls__status {
    font-size: 14px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.4em 0;
}
.site-config__controls__status.active {
    color: #4ab68f;
}
.site-config__controls__status.disabled {
    color: #f45b63;
}
.site-config__chart {
    padding: 2em;
}
.site-config__chart__controls {
    padding-top: 3em;
}
.site-config__chart__controls .dropdown .menu {
    right: 0;
}
.site-config__chart__total-views {
    font-size: 16.8px;
    font-size: 1.2rem;
    display: inline-block;
    float: right;
    padding-top: .2em;
}
.site-config__chart__total-views span {
    color: #f45b63;
}
.site-config__tags {
    margin: 0 2em;
    padding-top: 1.6em;
    border-top: 1px solid #f0f3f7;
}
.site-config__tags__list a {
    display: inline-block;
    font-size: 15.4px;
    font-size: 1.1rem;
    padding: .5em .2em .5em 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    position: relative;
}
.site-config__tags__list a:hover {
    opacity: .8;
}
.site-config__tags__list a:hover::after {
    width: 100%;
}
.site-config__tags__list a::after {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    bottom: .3em;
    height: 1px;
    background: #4ab68f;
    width: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
/*horizontal-chart */
.horizontal-chart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
}
.horizontal-chart__bar {
    position: relative;
    height: 200px;
    width: 2.5%;
    margin-right: 1%;
    display: inline-block;
    background: #e1e7f0;
    border-radius: 4px;
    text-align: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.horizontal-chart__bar__value {
    background: #4ab68f;
    border-radius: 4px;
    content: ' ';
    width: 100%;
    position: absolute;
    bottom: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}
.horizontal-chart__bar__value:hover {
    background: #f45b63;
}
.horizontal-chart__bar__value:hover .toolip-wrapper {
    opacity: 1;
}
.horizontal-chart__bar__value:hover .toolip-wrapper .tooltip-toggle {
    top: -2.7em;
}
.horizontal-chart__bar__marker {
    font-size: 9.799px;
    font-size: 0.7rem;
    position: absolute;
    bottom: -20px;
    width: 100%;
}
.horizontal-chart__overlays {}
.horizontal-chart__overlays__line {
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #eff2f7;
    content: ' ';
    left: 0;
    z-index: 3;
}
.horizontal-chart__overlays__line:nth-child(1) {
    bottom: 100%;
    display: none;
}
.horizontal-chart__overlays__line:nth-child(2) {
    bottom: 90%;
}
.horizontal-chart__overlays__line:nth-child(3) {
    bottom: 80%;
}
.horizontal-chart__overlays__line:nth-child(4) {
    bottom: 70%;
}
.horizontal-chart__overlays__line:nth-child(5) {
    bottom: 60%;
}
.horizontal-chart__overlays__line:nth-child(6) {
    bottom: 50%;
}
.horizontal-chart__overlays__line:nth-child(7) {
    bottom: 40%;
}
.horizontal-chart__overlays__line:nth-child(8) {
    bottom: 30%;
}
.horizontal-chart__overlays__line:nth-child(9) {
    bottom: 20%;
}
.horizontal-chart__overlays__line:nth-child(10) {
    bottom: 10%;
}

/* 3. Elements */
/* ICONS */
.ico {
    display: inline-block;
    font-style: normal;
    content: ' ';
}
/* navigation mixin */
/* site controll mixin */
.ico-nav-home {
    background: url('../images/ico-nav-home.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-goods {
    background: url('../images/ico-nav-goods.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-mailer {
    background: url('../images/ico-nav-mailer.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-stats {
    background: url('../images/ico-nav-stats.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-proksi {
    background: url('../images/ico-nav-proksi.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-notes {
    background: url('../images/ico-nav-notes.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-pages {
    background: url('../images/ico-nav-pages.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-users {
    background: url('../images/ico-nav-users.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-money-add {
    background: url('../images/ico-nav-money-add.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-money-fix {
    background: url('../images/ico-nav-money-fix.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-nav-help {
    background: url('../images/ico-nav-help.svg') no-repeat center;
    width: .8em;
    height: .8em;
}
.ico-toggler {
    background: url('../images/ico-toggle.svg') no-repeat center;
    width: .8em;
    height: .8em;
    float: right;
}
.ico-site-control-flag {
    background: url('../images/ico-site-control-flag.svg') no-repeat center;
    width: 1em;
    height: 1em;
    vertical-align: 0em;
    margin-right: .4em;
}
.ico-site-control-refresh {
    background: url('../images/ico-site-control-refresh.svg') no-repeat center;
    width: 1em;
    height: 1em;
    vertical-align: 0em;
    margin-right: .4em;
}
.ico-site-control-video {
    background: url('../images/ico-site-control-video.svg') no-repeat center;
    width: 1em;
    height: 1em;
    vertical-align: 0em;
    margin-right: .4em;
}
.ico-site-control-settings {
    background: url('../images/ico-site-control-settings.svg') no-repeat center;
    width: 1em;
    height: 1em;
    vertical-align: 0em;
    margin-right: .4em;
}
.ico-paginate-prev, .ico-paginate-next {
    background: url('../images/btn-pagination-selector.svg') no-repeat;
    width: .8em;
    height: .8em;
    margin-top: .2em;
}
.ico-paginate-prev {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-left: -.5em;
}
.ico-paginate-next {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-right: -.5em;
}
.ico-close {
    background: url('../images/ico-close.svg') no-repeat center;
    width: 1.3em;
    height: 1.3em;
}
/* buttons */
.btn {
    display: inline-block;
    content: ' ';
    padding: .4em .5em .5em .5em;
    font-size: 15.4px;
    font-size: 1.1rem;
    vertical-align: center;
    text-align: center;
    line-height: 1.1em;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.btn:focus, .btn:active {
    outline: none;
}
/* generic modifiers */
.btn--rounded {
    border-radius: 50%;
}
.btn--selector {
    background-image: url('../images/btn-selector.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
    padding-left: 1em;
    padding-right: 2em;
}
.btn--selector.btn--rounded {
    border-radius: 1em;
}
.btn--selector.btn--outline {
    width: auto;
    height: auto;
}
.btn--outline {
    border: 1px solid #a8bec9;
    overflow: hidden;
    width: 2em;
    height: 2em;
}
.btn--outline:hover {
    border-color: #4ab68f;
}
.btn--outline.active {
    background: #4ab68f;
    border-color: #4ab68f;
}
.btn--outline.btn--outline-bold {
    border-width: 2px;
}
.btn--abosulte-ico .ico {
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
/* Specific */
.btn--pagination {
    position: relative;
    border-color: #e5eaf2;
}
.btn--pagination:hover {
    border-color: #4ab68f;
}
.btn--pagination:hover .ico {
    background-image: url('../images/btn-selector-active.svg');
}
@media(max-width: 500px) {
    .dashboard {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .sidebar {
        display: none;
    }
    .header-mobile {
        display: block;
    }
    .sites__table {
        padding-left: 1em;
        padding-right: 1em;
    }
    .site-config__controls {
        padding: 2em 1em 2em 1em;
    }
    .site-config__chart {
        padding: 1.5em 1em;
    }
    .site-config__chart__total-views {
        float: none;
    }
    .site-config__tags {
        margin: 0 1em;
    }
    .horizontal-chart__bar {
        width: 3%;
        margin-right: 0.5%;
    }
    .horizontal-chart__bar__marker {
        bottom: -15px;
        font-size: 0.5rem;
    }
}
@media(max-width: 820px) {
    .site-config {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}
@media(max-width: 1000px) {
    .sidebar__search {
        padding-right: 1em;
        padding-left: 1.3em;
    }
    .sidebar__search .text-input {
        width: 0px;
        cursor: pointer;
        border-bottom: none;
    }
    .sidebar__nav__heading {
        display: none;
    }
    .sidebar__nav__list li .ico {
        margin-right: 0;
    }
    .sidebar__nav__list li span {
        display: none;
    }
    .sidebar__nav__list li a {
        padding: 0.3em 1em 0.3em 1em;
        font-size: 1.4em;
    }
    .ico-nav-notification {
        font-size: .5rem;
        left: 0;
    }
    .ico-nav-notification span {
        display: none;
    }
}
@media(min-width: 1000px) {
    .sidebar__nav__list li .tooltip-toggle {
        display: none !important;
    }
}
